* {
          margin: 0;
          padding: 0;
}

.StudentData {
          margin: auto;
          width: 1200px;
          /* background-color: rgb(228, 138, 138); */
}

.StudentData .containerStudent {
          padding: 20px;
}

.StudentData .containerStudent .addButton button {
          width: 100px;
          font-size: 30px;
          border: none;
          border-radius: 10px;
          background-color: #1976d2;
          color: #fff;
          cursor: pointer;
          transition: 0.3s ease;
          margin-bottom: 20px;
}

.StudentData .containerStudent .addButton button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.StudentData .containerStudent .show {
          margin-top: 30px;
}

.StudentData .containerStudent .show .show-data {
          margin-bottom: 30px;
          padding: 20px;
          background-color: #fff;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s ease;
          position: relative;
          word-wrap: break-word;
}

.StudentData .containerStudent .show .show-data:hover {
          transform: scale(1.01);
          box-shadow: 0 0 10px;
}

.StudentData .containerStudent .show .show-data p {
          margin-right: 100px;
          font-size: 30px;
          margin-bottom: 30px;
          cursor: pointer;
}

.StudentData .containerStudent .show .show-data .deletestudet i {
          position: absolute;
          right: 30px;
          bottom: 20px;
          font-size: 30px;
          transition: 0.3s ease;
          display: none;
}

.StudentData .containerStudent .show .show-data .deletestudet i:hover {
          color: #ff6b6b;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.StudentData .containerStudent .show .show-data:hover i {
          display: block;
}



@media (max-width: 400) {
          * {
                    margin: 0;
                    padding: 0;
          }

          .StudentData {
                    margin: auto;
                    width: 300px;
                    /* width: 1200px; */
                    /* background-color: rgb(228, 138, 138); */
          }

          .StudentData .containerStudent {
                    padding: 20px;
          }

          .StudentData .containerStudent .addButton button {
                    width: 100px;
                    font-size: 25px;
                    border: none;
                    border-radius: 10px;
                    background-color: #1976d2;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.3s ease;
                    margin-bottom: 20px;
          }

          .StudentData .containerStudent .addButton button:hover {
                    transform: scale(1.06);
                    box-shadow: 0 0 10px;
          }

          .StudentData .containerStudent .show {
                    margin-top: 30px;
          }

          .StudentData .containerStudent .show .show-data {
                    width: 260px;
                    margin-bottom: 30px;
                    padding: 20px;
                    background-color: #fff;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.3s ease;
                    position: relative;
                    word-wrap: break-word;
          }

          .StudentData .containerStudent .show .show-data:hover {
                    transform: scale(1.01);
                    box-shadow: 0 0 10px;
          }

          .StudentData .containerStudent .show .show-data p {
                    margin-right: 100px;
                    font-size: 25px;
                    margin-bottom: 30px;
                    cursor: pointer;
          }

          .StudentData .containerStudent .show .show-data .deletestudet i {
                    position: absolute;
                    right: 30px;
                    bottom: 20px;
                    font-size: 25px;
                    transition: 0.3s ease;
                    display: none;
          }

          .StudentData .containerStudent .show .show-data .deletestudet i:hover {
                    color: #ff6b6b;
                    transform: scale(1.06);
                    text-shadow: 0 0 10px;
          }

          .StudentData .containerStudent .show .show-data:hover i {
                    display: block;
          }
}