* {
          margin: 0;
          padding: 0;
}

.navbar {
          width: 100%;
          height: 67px;
          background-color: #1976d2;
}

.navbar .navContainer {
          width: 1200px;
          margin: auto;
          display: flex;
          justify-content: space-between;
}

.navbar .navContainer .tab {
          margin-top: 10px;
          cursor: pointer;
          position: relative;
}

.navbar .navContainer .tab .avatarChar {
          color: red;
          background-color: #fff;
          font-size: 30px;
}


.navbar .navContainer .tab img {
          width: 65px;
          height: 55px;
}

.navbar .navContainer .tab .tabcontent {
          text-decoration: none;
          font-size: 30px;
          color: #fff;
          transition: 0.3s ease-out;
}

@media (max-width:350px) {
          .navbar {
                    width: 100%;
                    height: 67px;
                    background-color: #1976d2;
          }

          .navbar .navContainer {
                    width: 330px;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
          }

          .navbar .navContainer .tab .tabcontent {
                    display: none;
          }
}



.navbar .navContainer .tab .tabcontent:hover {
          transform: scale(2.06);
          text-shadow: 0 0 10px;
}

.navbar .navContainer .tab .navcontainerShow {
          position: absolute;
          right: 0;
          display: none;
          background-color: #fff;
          padding: 10px;
          padding: 20px;
          border-radius: 10px;
          top: 40px;
          min-width: 300px;
}

.navbar .navContainer .tab:hover .navcontainerShow {
          display: block;
          /* Show .navcontainerShow when .tab is hovered */
}

.navbar .navContainer .tab .navcontainerShow .classHand .tabAvatar {
          font-size: 30px;
          padding: 20px;
          background-color: rgb(236, 124, 124);
          border-radius: 10px;
          transition: 0.3s ease;
          margin-bottom: 20px;
          cursor: pointer;
}

.navbar .navContainer .tab .navcontainerShow .classHand .tabAvatar:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
          color: #fff;
          font-size: 32px;
}

.navbar .navContainer .tab .navcontainerShow .classHand .tabAvatar .tabAvatarNavlink {
          text-decoration: none;
          color: #000000;
}

.navbar .navContainer .tab .navcontainerShow .classHand .tabAvatar .tabAvatarNavlink:hover {
          color: #fff;
}